h1
{
    color: #E44B36;
    text-align: center;
}

h4
{
    line-height: 24pt;
}
.header{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

}
#songsSublist{ 
   /** display: none;**/
   grid-area: 2 / 3 / span 1 / span 1;
}

#a{
    grid-area: 1 / 1 / span 1 / span 1;
}

#b{
    grid-area: 1 / 2 / span 1 / span 1;
}
#font1{ font-family: Arial, Helvetica, sans-serif;

}
#column{
    float: left;
    width: 50%;
    padding: 5px;
}
#row::after{
    content:"";
    clear: both;
    display:table;
}
#row{
    display: flex;

}
.column{
    flex: 50%;
    padding: 5px;
}