h1
{
    color: #E44B36;
    text-align: center;
    border: 2px solid white;
}
h1
{
    background-color: rgb(206, 166, 166)
}
h4
{
    line-height: 24pt;
   color: white;
}
.header{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 2px solid black;
}
#songsSublist{ 
   /** display: none;**/
   grid-area: 2 / 3 / span 1 / span 1;
}

#a{
    grid-area: 1 / 1 / span 1 / span 1;
}

#b{
    grid-area: 1 / 2 / span 1 / span 1;
}
#font1{ font-family: Arial, Helvetica, sans-serif;
        float: left;
        width: 15%;
        padding: 5px;
}

.column {
    float: left;
    width: 35%;
    padding: 5px;
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
/* body { */
    /* background-image: radial-gradient(rgb(11, 11, 49), rgb(82, 16, 16), rgba(59, 5, 59, 0.295)); */
/* } */
body {
    background-image: radial-gradient(circle, rgb(9, 14, 61), rgb(94, 9, 9), rgb(24, 14, 61));
  }
  strong{
      color: white;
  }
  p {
      color: white;
  }